.change {
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 15px;
    background: #f3f3f3;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.change-item {
    margin-bottom: 20px;
}