.page-title {
    display: flex;
    margin-bottom: 30px;
    &_text {
        color: #7e7e7e;
        font-size: 40px;
        line-height: 35px;
        text-transform: uppercase;
    }
    &_background-left {
        background: url("./img/bg.png");
        height: 35px;
        width: 20px;
        margin-right: 10px;
    }
    &_background-right {
        background: url("./img/bg.png");
        height: 35px;
        margin-left: 10px;
        display: inline-block;
        flex-grow: 1;
    }
}