.article-info {
    width: 100%;
    display: flex;
    margin-bottom: 30px;

    &_item {
        margin-right: 20px;
    }

    &_link {
        color: #29c5e6;
        text-decoration: underline;
        margin-left: 10px;
        &:hover {
            text-decoration: none;
        }
    }
}